{% extends "base.html" %}

{% block content %}
<html>
    <div align="right">
        <form method="post" action="">
            <input type="submit" name="submit_button" value="publish scouting schedule">
        </form>
        
    </div>
    
    {% block table %}
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    {% endblock table %}
</html>


<style>
    table{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    table,th,td {
      border: 1px solid black;
      text-align: center;
      padding: 8px;
    }

</style>
{% endblock %}

